/* Estilos generales para el body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #4b1030;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

/* Estilo para la parte izquierda */
.left {
  flex: 1;
  position: relative; /* Necesario para manejar el posicionamiento del h1 */
}

/* Estilo general para h1 */
.left h1 {
  font-size: 8rem;
  margin: 0;
  position: relative;
  color: #ffffff;
  font-family: 'Courier New', monospace; /* Fuente de tipo monoespaciada */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que no se ha mostrado */
  display: inline-block; /* Hace que el h1 sea más pequeño según su contenido */
  width: fit-content; /* Hace que el ancho sea solo el necesario */
}

/* Animación del cursor tipo código */
.left h1 span {
  opacity: 0;
  animation: showBinary 1s steps(20) infinite, showText 4s forwards;
}

/* Animación de aparición tipo código binario */
@keyframes showBinary {
  0% {
    content: '0';
    opacity: 1;
  }
  50% {
    content: '1';
  }
  100% {
    content: '0';
  }
}

/* Animación para mostrar el texto al final */
@keyframes showText {
  100% {
    opacity: 1;
    content: normal;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animate-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(30%) translateY(1%) scale(1.5); /* Mueve al centro */
  transition: transform 1s ease-in-out; /* Animación para moverlo */
}


/* Estilo para el texto del párrafo */
.left p {
  font-size: 2.2rem;
  margin: 1rem 0;
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Animación para desvanecer */
}

/* Estilo para el botón */
button {
  padding: 10px 20px;
  background-color: #aa2047;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #d12b5e;
}

/* Parte derecha con el SVG */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del SVG */
.right img {
  width: 80%;
  max-width: 400px;
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Animación para desvanecer */
}

/* Cuando se añade la clase fade-out, el SVG desaparece */
.right img.fade-out {
  opacity: 0;
}

/* Cuando se añade la clase fade-out al párrafo, el párrafo desaparece */
.left p.fade-out {
  opacity: 0;
}
